<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div id="fmi-metweb-entry">

<div id="fmi-metweb-header">
	<div id="fmi-metweb-header-title">
	{{htmlWebpackPlugin.options.title}}
	</div>
	<div id="fmi-metweb-header-other">
	</div>
	<div id="fmi-metweb-header-user">
	Guest
	</div>
</div>

<div id="fmi-metweb-react-app-container">

</div>

</div>

</body>
</html>
