<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div class="entry">
  <h1>{{htmlWebpackPlugin.options.title}}</h1>
  <div class="body">
      <div class="layers">
        Tasovalinnat
      </div>
      <div class="maps">
        Karttanäkymät
      </div>
  </div>
</div>
</body>
</html>
