<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div id="fmi-metweb-entry">

<div id="fmi-metweb-header">
	<div id="fmi-metweb-header-title">
	{{htmlWebpackPlugin.options.title}}
	</div>
	<div id="fmi-metweb-header-other">
	</div>
	<div id="fmi-metweb-header-user">
	Guest
	</div>
</div>

<div id="fmi-metweb-sidebar-windows-and-footer">

	<div id="fmi-metweb-sidebar">
	</div>

	<div id="fmi-metweb-sidebar-menu">
	
		<div id="fmi-metweb-sidebar-menu-title">
		Tuotevalikko
		</div>
		
		<div id="fmi-metweb-sidebar-menu-filters">
		<div class="fmi-metweb-title">Filtterit</div>
		
		<div class="fmi-metweb-wrappable-container">
			<div class="fmi-metweb-filter-button">Filtteri 1</div>
			<div class="fmi-metweb-filter-button">Filtteri 2</div>
			<div class="fmi-metweb-filter-button">Filtteri 3</div>
			<div class="fmi-metweb-filter-button">Filtteri 4</div>
		</div>
		
		</div>

		<div id="fmi-metweb-productgroup-container">
	
		</div>

		
	</div>

	<div id="fmi-metweb-windows-and-footer">

		<div id="fmi-metweb-windows">
		</div>
		
		<div id="fmi-metweb-footer">
			<div id="fmi-metweb-footer-empty">
			</div>
			
			<div id="fmi-metweb-footer-workspaces">
			</div>
			
			<div id="fmi-metweb-footer-new-workspace">
			</div>
		
		</div>

	</div>

</div>

</div>

</body>
</html>
